In [25]:
import pandas as pd
import numpy as np
import random

In [26]:
p_data = ["data/crx.csv","data/data.csv"]
cTarget = ["label","Diagnosis"]

In [27]:
df = []
for data in p_data:
    df.append(pd.read_csv(data))
print(df)

[    att1   att2    att3 att4 att5 att6 att7  att8 att9 att10  att11 att12  \
0      b  30.83   0.000    u    g    w    v  1.25    t     t      1     f
1      a  58.67   4.460    u    g    q    h  3.04    t     t      6     f
2      a   24.5   0.500    u    g    q    h  1.50    t     f      0     f
3      b  27.83   1.540    u    g    w    v  3.75    t     t      5     t
4      b  20.17   5.625    u    g    w    v  1.71    t     f      0     f
..   ...    ...     ...  ...  ...  ...  ...   ...  ...   ...    ...   ...
685    b  21.08  10.085    y    p    e    h  1.25    f     f      0     f
686    a  22.67   0.750    u    g    c    v  2.00    f     t      2     t
687    a  25.25  13.500    y    p   ff   ff  2.00    f     t      1     t
688    b  17.92   0.205    u    g   aa    v  0.04    f     f      0     f
689    b     35   3.375    u    g    c    h  8.29    f     f      0     t

    att13 att14  att15 label
0       g   202      0     +
1       g    43    560     +
2       g   280    824     +
3       g   100      3     +
4       s   120      0     +
..    ...   ...    ...   ...
685     g   260      0     -
686     g   200    394     -
687     g   200      1     -
688     g   280    750     -
689     g     0      0     -

[690 rows x 16 columns],            ID Diagnosis      3      4       5       6        7        8  \
0      842302         M  17.99  10.38  122.80  1001.0  0.11840  0.27760
1      842517         M  20.57  17.77  132.90  1326.0  0.08474  0.07864
2    84300903         M  19.69  21.25  130.00  1203.0  0.10960  0.15990
3    84348301         M  11.42  20.38   77.58   386.1  0.14250  0.28390
4    84358402         M  20.29  14.34  135.10  1297.0  0.10030  0.13280
..        ...       ...    ...    ...     ...     ...      ...      ...
564    926424         M  21.56  22.39  142.00  1479.0  0.11100  0.11590
565    926682         M  20.13  28.25  131.20  1261.0  0.09780  0.10340
566    926954         M  16.60  28.08  108.30   858.1  0.08455  0.10230
567    927241         M  20.60  29.33  140.10  1265.0  0.11780  0.27700
568     92751         B   7.76  24.54   47.92   181.0  0.05263  0.04362

           9       10  ...      23     24      25      26       27       28  \
0    0.30010  0.14710  ...  25.380  17.33  184.60  2019.0  0.16220  0.66560
1    0.08690  0.07017  ...  24.990  23.41  158.80  1956.0  0.12380  0.18660
2    0.19740  0.12790  ...  23.570  25.53  152.50  1709.0  0.14440  0.42450
3    0.24140  0.10520  ...  14.910  26.50   98.87   567.7  0.20980  0.86630
4    0.19800  0.10430  ...  22.540  16.67  152.20  1575.0  0.13740  0.20500
..       ...      ...  ...     ...    ...     ...     ...      ...      ...
564  0.24390  0.13890  ...  25.450  26.40  166.10  2027.0  0.14100  0.21130
565  0.14400  0.09791  ...  23.690  38.25  155.00  1731.0  0.11660  0.19220
566  0.09251  0.05302  ...  18.980  34.12  126.70  1124.0  0.11390  0.30940
567  0.35140  0.15200  ...  25.740  39.42  184.60  1821.0  0.16500  0.86810
568  0.00000  0.00000  ...   9.456  30.37   59.16   268.6  0.08996  0.06444

         29      30      31  Unnamed: 31
0    0.7119  0.2654  0.4601      0.11890
1    0.2416  0.1860  0.2750      0.08902
2    0.4504  0.2430  0.3613      0.08758
3    0.6869  0.2575  0.6638      0.17300
4    0.4000  0.1625  0.2364      0.07678
..      ...     ...     ...          ...
564  0.4107  0.2216  0.2060      0.07115
565  0.3215  0.1628  0.2572      0.06637
566  0.3403  0.1418  0.2218      0.07820
567  0.9387  0.2650  0.4087      0.12400
568  0.0000  0.0000  0.2871      0.07039

[569 rows x 32 columns]]

In [28]:
# Check Missing Value - Remove missing value
## No missing value in these datasets
for i in range(len(df)):
    df[i] = df[i].dropna()

In [29]:
# Remove unique column
## Unique column is defined as those column dtypes != float64 but len(unique) = len(df)
def removeUnique(df):
    cRemove = []
    for i in range(len(df.columns)):
        if df[df.columns[i]].dtypes != "float64":
            n = len(np.unique(df[df.columns[i]]))
            if n==len(df):
                cRemove.append(df.columns[i])
    df.drop(cRemove, axis = 1, inplace = True)
    return df

In [30]:
def labelEncoder(df):
    # Select categorical features
    # Method: unique value < #Row*30%  && dtypes != float64
    for i in range(len(df.columns)):
        if df[df.columns[i]].dtypes != "float64":
            n = len(np.unique(df[df.columns[i]]))
            if n<len(df)*0.3:
                # Label Encoding
                label_number = dict()
                for k,j in enumerate(np.unique(df[df.columns[i]])):
                    label_number[j] = k
                for r in range(len(df)):
                    df.loc[r,df.columns[i]] = label_number[df[df.columns[i]][r]]
    return df

In [31]:
#Remove unique column and apply label encoding
for i in range(len(df)):
    df[i] = removeUnique(df[i])
    df[i] = labelEncoder(df[i])
df

[    att1   att2    att3 att4 att5 att6 att7  att8 att9 att10  att11 att12  \
 0      2  30.83   0.000    2    1   13    8  1.25    1     1      1     0
 1      1  58.67   4.460    2    1   11    4  3.04    1     1      6     0
 2      1   24.5   0.500    2    1   11    4  1.50    1     0      0     0
 3      2  27.83   1.540    2    1   13    8  3.75    1     1      5     1
 4      2  20.17   5.625    2    1   13    8  1.71    1     0      0     0
 ..   ...    ...     ...  ...  ...  ...  ...   ...  ...   ...    ...   ...
 685    2  21.08  10.085    3    3    5    4  1.25    0     0      0     0
 686    1  22.67   0.750    2    1    2    8  2.00    0     1      2     1
 687    1  25.25  13.500    3    3    6    3  2.00    0     1      1     1
 688    2  17.92   0.205    2    1    1    8  0.04    0     0      0     0
 689    2     35   3.375    2    1    2    4  8.29    0     0      0     1

     att13 att14  att15 label
 0       0    42      0     0
 1       0   118    560     0
 2       0    74    824     0
 3       0     1      3     0
 4       2     8      0     0
 ..    ...   ...    ...   ...
 685     0    67      0     1
 686     0    40    394     1
 687     0    40      1     1
 688     0    74    750     1
 689     0     0      0     1

 [690 rows x 16 columns],
     Diagnosis      3      4       5       6        7        8        9  \
 0           1  17.99  10.38  122.80  1001.0  0.11840  0.27760  0.30010
 1           1  20.57  17.77  132.90  1326.0  0.08474  0.07864  0.08690
 2           1  19.69  21.25  130.00  1203.0  0.10960  0.15990  0.19740
 3           1  11.42  20.38   77.58   386.1  0.14250  0.28390  0.24140
 4           1  20.29  14.34  135.10  1297.0  0.10030  0.13280  0.19800
 ..        ...    ...    ...     ...     ...      ...      ...      ...
 564         1  21.56  22.39  142.00  1479.0  0.11100  0.11590  0.24390
 565         1  20.13  28.25  131.20  1261.0  0.09780  0.10340  0.14400
 566         1  16.60  28.08  108.30   858.1  0.08455  0.10230  0.09251
 567         1  20.60  29.33  140.10  1265.0  0.11780  0.27700  0.35140
 568         0   7.76  24.54   47.92   181.0  0.05263  0.04362  0.00000

           10      11  ...      23     24      25      26       27       28  \
 0    0.14710  0.2419  ...  25.380  17.33  184.60  2019.0  0.16220  0.66560
 1    0.07017  0.1812  ...  24.990  23.41  158.80  1956.0  0.12380  0.18660
 2    0.12790  0.2069  ...  23.570  25.53  152.50  1709.0  0.14440  0.42450
 3    0.10520  0.2597  ...  14.910  26.50   98.87   567.7  0.20980  0.86630
 4    0.10430  0.1809  ...  22.540  16.67  152.20  1575.0  0.13740  0.20500
 ..       ...     ...  ...     ...    ...     ...     ...      ...      ...
 564  0.13890  0.1726  ...  25.450  26.40  166.10  2027.0  0.14100  0.21130
 565  0.09791  0.1752  ...  23.690  38.25  155.00  1731.0  0.11660  0.19220
 566  0.05302  0.1590  ...  18.980  34.12  126.70  1124.0  0.11390  0.30940
 567  0.15200  0.2397  ...  25.740  39.42  184.60  1821.0  0.16500  0.86810
 568  0.00000  0.1587  ...   9.456  30.37   59.16   268.6  0.08996  0.06444

          29      30      31  Unnamed: 31
 0    0.7119  0.2654  0.4601      0.11890
 1    0.2416  0.1860  0.2750      0.08902
 2    0.4504  0.2430  0.3613      0.08758
 3    0.6869  0.2575  0.6638      0.17300
 4    0.4000  0.1625  0.2364      0.07678
 ..      ...     ...     ...          ...
 564  0.4107  0.2216  0.2060      0.07115
 565  0.3215  0.1628  0.2572      0.06637
 566  0.3403  0.1418  0.2218      0.07820
 567  0.9387  0.2650  0.4087      0.12400
 568  0.0000  0.0000  0.2871      0.07039

 [569 rows x 31 columns]]

In [33]:
# Change cTarget encoding to 1 and 1 instead of 1 and 0
for i in range(len(df)):
    for j in range(len(df[i])):
        if df[i][cTarget[i]][j]==0:
            df[i].loc[j,cTarget[i]]=-1

# Q2 Implement Linear Classifier from scratch
Pseudocode:  
repeat until convergence (or for some # of iterations):  
&emsp;randomize order or training examples  
&emsp;for each training example $(f_1,f_2,....,f_n,label)$:  
&emsp;&emsp;$prediction = b+ \sum^n_{i=1}w_if_i$  
&emsp;if $prediction*label\leq0$: //then don't agree  
&emsp;&emsp;for each $w_i$:  
&emsp;&emsp;&emsp;$w_i=w_i+lr*(f_i*label)$  
&emsp;&emsp;$b=b+label$

In [17]:
#Randomize row data:
def shuffle(df):
    nShuffle = len(df)*3
    for t in range(nShuffle):
        ind1 = random.randint(0,len(df))
        ind2 = random.randint(0,len(df))
        a = df.iloc[ind1,:]
        df.iloc[ind1,:] = df.iloc[ind2,:]
        df.iloc[ind2,:] = a
    return df

In [ ]:
MAX_ITER = 1
i = 0 # Loop times
b = 0 # Initialize as 0
w = np.ones(len(df[0].columns)-1,dtype=float) #Initialize w as 1-matrix
while i<MAX_ITER:
    i += 1 #Loop times increment
    shuffle(df[0])
    for j in range(len(df[0])):
        pred = b + np.multiply(w,df[0].loc[j,:])
    print(pred)

In [14]:
a = df[0].iloc[0,:]
df[0].iloc[0,:] = df[0].iloc[1,:]
df[0].iloc[1,:] = a

In [15]:
df[0]

,att1,att2,att3,att4,att5,att6,att7,att8,att9,att10,att11,att12,att13,att14,att15,label
0,1,58.67,4.460,2,1,11,4,3.04,1,1,6,0,0,118,560,0
1,2,30.83,0.000,2,1,13,8,1.25,1,1,1,0,0,42,0,0
2,1,24.5,0.500,2,1,11,4,1.50,1,0,0,0,0,74,824,0
3,2,27.83,1.540,2,1,13,8,3.75,1,1,5,1,0,1,3,0
4,2,20.17,5.625,2,1,13,8,1.71,1,0,0,0,2,8,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,2,21.08,10.085,3,3,5,4,1.25,0,0,0,0,0,67,0,1
686,1,22.67,0.750,2,1,2,8,2.00,0,1,2,1,0,40,394,1
687,1,25.25,13.500,3,3,6,3,2.00,0,1,1,1,0,40,1,1
688,2,17.92,0.205,2,1,1,8,0.04,0,0,0,0,0,74,750,1
689,2,35,3.375,2,1,2,4,8.29,0,0,0,1,0,0,0,1