In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
random.seed(54)

In [3]:
p_data = ["data/crx.csv","data/data.csv"]
cTarget = ["label","Diagnosis"]

In [4]:
df = []
for data in p_data:
    df.append(pd.read_csv(data))
print(df)

[    att1   att2    att3 att4 att5 att6 att7  att8 att9 att10  att11 att12  \
0      b  30.83   0.000    u    g    w    v  1.25    t     t      1     f
1      a  58.67   4.460    u    g    q    h  3.04    t     t      6     f
2      a   24.5   0.500    u    g    q    h  1.50    t     f      0     f
3      b  27.83   1.540    u    g    w    v  3.75    t     t      5     t
4      b  20.17   5.625    u    g    w    v  1.71    t     f      0     f
..   ...    ...     ...  ...  ...  ...  ...   ...  ...   ...    ...   ...
685    b  21.08  10.085    y    p    e    h  1.25    f     f      0     f
686    a  22.67   0.750    u    g    c    v  2.00    f     t      2     t
687    a  25.25  13.500    y    p   ff   ff  2.00    f     t      1     t
688    b  17.92   0.205    u    g   aa    v  0.04    f     f      0     f
689    b     35   3.375    u    g    c    h  8.29    f     f      0     t

    att13 att14  att15 label
0       g   202      0     +
1       g    43    560     +
2       g   280    824     +
3       g   100      3     +
4       s   120      0     +
..    ...   ...    ...   ...
685     g   260      0     -
686     g   200    394     -
687     g   200      1     -
688     g   280    750     -
689     g     0      0     -

[690 rows x 16 columns],            ID Diagnosis      3      4       5       6        7        8  \
0      842302         M  17.99  10.38  122.80  1001.0  0.11840  0.27760
1      842517         M  20.57  17.77  132.90  1326.0  0.08474  0.07864
2    84300903         M  19.69  21.25  130.00  1203.0  0.10960  0.15990
3    84348301         M  11.42  20.38   77.58   386.1  0.14250  0.28390
4    84358402         M  20.29  14.34  135.10  1297.0  0.10030  0.13280
..        ...       ...    ...    ...     ...     ...      ...      ...
564    926424         M  21.56  22.39  142.00  1479.0  0.11100  0.11590
565    926682         M  20.13  28.25  131.20  1261.0  0.09780  0.10340
566    926954         M  16.60  28.08  108.30   858.1  0.08455  0.10230
567    927241         M  20.60  29.33  140.10  1265.0  0.11780  0.27700
568     92751         B   7.76  24.54   47.92   181.0  0.05263  0.04362

           9       10  ...      23     24      25      26       27       28  \
0    0.30010  0.14710  ...  25.380  17.33  184.60  2019.0  0.16220  0.66560
1    0.08690  0.07017  ...  24.990  23.41  158.80  1956.0  0.12380  0.18660
2    0.19740  0.12790  ...  23.570  25.53  152.50  1709.0  0.14440  0.42450
3    0.24140  0.10520  ...  14.910  26.50   98.87   567.7  0.20980  0.86630
4    0.19800  0.10430  ...  22.540  16.67  152.20  1575.0  0.13740  0.20500
..       ...      ...  ...     ...    ...     ...     ...      ...      ...
564  0.24390  0.13890  ...  25.450  26.40  166.10  2027.0  0.14100  0.21130
565  0.14400  0.09791  ...  23.690  38.25  155.00  1731.0  0.11660  0.19220
566  0.09251  0.05302  ...  18.980  34.12  126.70  1124.0  0.11390  0.30940
567  0.35140  0.15200  ...  25.740  39.42  184.60  1821.0  0.16500  0.86810
568  0.00000  0.00000  ...   9.456  30.37   59.16   268.6  0.08996  0.06444

         29      30      31  Unnamed: 31
0    0.7119  0.2654  0.4601      0.11890
1    0.2416  0.1860  0.2750      0.08902
2    0.4504  0.2430  0.3613      0.08758
3    0.6869  0.2575  0.6638      0.17300
4    0.4000  0.1625  0.2364      0.07678
..      ...     ...     ...          ...
564  0.4107  0.2216  0.2060      0.07115
565  0.3215  0.1628  0.2572      0.06637
566  0.3403  0.1418  0.2218      0.07820
567  0.9387  0.2650  0.4087      0.12400
568  0.0000  0.0000  0.2871      0.07039

[569 rows x 32 columns]]

In [5]:
# Move target column to back
for i in range(len(df)):
    col = df[i].pop(cTarget[i])
    df[i].insert(df[i].shape[1], col.name, col)

In [6]:
# Check Missing Value - Remove missing value
## Missing value is represented as ? in both datasets
for i in range(len(df)):
    df[i]=df[i].replace('?',np.nan)
    df[i] = df[i].dropna().reset_index()

In [7]:
df[0][df[0].isnull().any(axis=1)]

Empty DataFrame
Columns: [index, att1, att2, att3, att4, att5, att6, att7, att8, att9, att10, att11, att12, att13, att14, att15, label]
Index: []

In [8]:
np.unique(df[0]["att1"])

array(['a', 'b'], dtype=object)

In [9]:
# Remove unique column
## Unique column is defined as those column dtypes != float64 but len(unique) = len(df)
def removeUnique(df):
    cRemove = []
    for i in range(len(df.columns)):
        if df[df.columns[i]].dtypes != "float64":
            n = len(np.unique(df[df.columns[i]]))
            if n==len(df):
                cRemove.append(df.columns[i])
    df.drop(cRemove, axis = 1, inplace = True)
    return df

In [10]:
def labelEncoder(df):
    # Select categorical features
    # Method: unique value < #Row*30%  && dtypes != float64
    for i in range(len(df.columns)):
        if df[df.columns[i]].dtypes != "float64":
            n = len(np.unique(df[df.columns[i]]))
            if n<len(df)*0.3:
                # Label Encoding
                label_number = dict()
                for k,j in enumerate(np.unique(df[df.columns[i]])):
                    label_number[j] = k
                for r in range(len(df)):
                    df.loc[r,df.columns[i]] = label_number[df[df.columns[i]][r]]
    return df

In [11]:
def castCol(df, dtype = "float"):
    for i in range(len(df.columns)):
        if df[df.columns[i]].dtypes != "float64":
            print(df.columns[i])
            df.loc[:,df.columns[i]] = df.loc[:,df.columns[i]].astype(dtype)
    return df

In [12]:
len(np.unique(df[0].loc[:,"att2"]))<len(df[0])*0.3

False

In [13]:
#Remove unique column and apply label encoding
for i in range(len(df)):
    df[i] = removeUnique(df[i])
    df[i] = labelEncoder(df[i])
df

[    att1   att2    att3 att4 att5 att6 att7  att8 att9 att10  att11 att12  \
 0      1  30.83   0.000    1    0   12    7  1.25    1     1      1     0
 1      0  58.67   4.460    1    0   10    3  3.04    1     1      6     0
 2      0   24.5   0.500    1    0   10    3  1.50    1     0      0     0
 3      1  27.83   1.540    1    0   12    7  3.75    1     1      5     1
 4      1  20.17   5.625    1    0   12    7  1.71    1     0      0     0
 ..   ...    ...     ...  ...  ...  ...  ...   ...  ...   ...    ...   ...
 648    1  21.08  10.085    2    2    4    3  1.25    0     0      0     0
 649    0  22.67   0.750    1    0    1    7  2.00    0     1      2     1
 650    0  25.25  13.500    2    2    5    2  2.00    0     1      1     1
 651    1  17.92   0.205    1    0    0    7  0.04    0     0      0     0
 652    1     35   3.375    1    0    1    3  8.29    0     0      0     1

     att13 att14  att15 label
 0       0    41      0     0
 1       0   113    560     0
 2       0    71    824     0
 3       0     1      3     0
 4       2     7      0     0
 ..    ...   ...    ...   ...
 648     0    65      0     1
 649     0    39    394     1
 650     0    39      1     1
 651     0    71    750     1
 652     0     0      0     1

 [653 rows x 16 columns],
          3      4       5       6        7        8        9       10      11  \
 0    17.99  10.38  122.80  1001.0  0.11840  0.27760  0.30010  0.14710  0.2419
 1    20.57  17.77  132.90  1326.0  0.08474  0.07864  0.08690  0.07017  0.1812
 2    19.69  21.25  130.00  1203.0  0.10960  0.15990  0.19740  0.12790  0.2069
 3    11.42  20.38   77.58   386.1  0.14250  0.28390  0.24140  0.10520  0.2597
 4    20.29  14.34  135.10  1297.0  0.10030  0.13280  0.19800  0.10430  0.1809
 ..     ...    ...     ...     ...      ...      ...      ...      ...     ...
 564  21.56  22.39  142.00  1479.0  0.11100  0.11590  0.24390  0.13890  0.1726
 565  20.13  28.25  131.20  1261.0  0.09780  0.10340  0.14400  0.09791  0.1752
 566  16.60  28.08  108.30   858.1  0.08455  0.10230  0.09251  0.05302  0.1590
 567  20.60  29.33  140.10  1265.0  0.11780  0.27700  0.35140  0.15200  0.2397
 568   7.76  24.54   47.92   181.0  0.05263  0.04362  0.00000  0.00000  0.1587

           12  ...     24      25      26       27       28      29      30  \
 0    0.07871  ...  17.33  184.60  2019.0  0.16220  0.66560  0.7119  0.2654
 1    0.05667  ...  23.41  158.80  1956.0  0.12380  0.18660  0.2416  0.1860
 2    0.05999  ...  25.53  152.50  1709.0  0.14440  0.42450  0.4504  0.2430
 3    0.09744  ...  26.50   98.87   567.7  0.20980  0.86630  0.6869  0.2575
 4    0.05883  ...  16.67  152.20  1575.0  0.13740  0.20500  0.4000  0.1625
 ..       ...  ...    ...     ...     ...      ...      ...     ...     ...
 564  0.05623  ...  26.40  166.10  2027.0  0.14100  0.21130  0.4107  0.2216
 565  0.05533  ...  38.25  155.00  1731.0  0.11660  0.19220  0.3215  0.1628
 566  0.05648  ...  34.12  126.70  1124.0  0.11390  0.30940  0.3403  0.1418
 567  0.07016  ...  39.42  184.60  1821.0  0.16500  0.86810  0.9387  0.2650
 568  0.05884  ...  30.37   59.16   268.6  0.08996  0.06444  0.0000  0.0000

          31  Unnamed: 31  Diagnosis
 0    0.4601      0.11890          1
 1    0.2750      0.08902          1
 2    0.3613      0.08758          1
 3    0.6638      0.17300          1
 4    0.2364      0.07678          1
 ..      ...          ...        ...
 564  0.2060      0.07115          1
 565  0.2572      0.06637          1
 566  0.2218      0.07820          1
 567  0.4087      0.12400          1
 568  0.2871      0.07039          0

 [569 rows x 31 columns]]

In [14]:
#Cast column to floast
for i in range(len(df)):
    df[i] = castCol(df[i])
    print(df[i].dtypes)

att1
att2
att4
att5
att6
att7
att9
att10
att11
att12
att13
att14
att15
label
att1     float64
att2     float64
att3     float64
att4     float64
att5     float64
att6     float64
att7     float64
att8     float64
att9     float64
att10    float64
att11    float64
att12    float64
att13    float64
att14    float64
att15    float64
label    float64
dtype: object
Diagnosis
3              float64
4              float64
5              float64
6              float64
7              float64
8              float64
9              float64
10             float64
11             float64
12             float64
13             float64
14             float64
15             float64
16             float64
17             float64
18             float64
19             float64
20             float64
21             float64
22             float64
23             float64
24             float64
25             float64
26             float64
27             float64
28             float64
29             float64
30             float64
31             float64
Unnamed: 31    float64
Diagnosis      float64
dtype: object

In [15]:
# Change cTarget encoding to 1 and 1 instead of 1 and 0
for i in range(len(df)):
    for j in range(len(df[i])):
        if df[i][cTarget[i]][j]==0:
            df[i].loc[j,cTarget[i]]=-1

# Q2 Implement Linear Classifier from scratch
Pseudocode:  
repeat until convergence (or for some # of iterations):  
&emsp;randomize order or training examples  
&emsp;for each training example $(f_1,f_2,....,f_n,label)$:  
&emsp;&emsp;$prediction = b+ \sum^n_{i=1}w_if_i$  
&emsp;&emsp;if $prediction*label\leq0$: //then don't agree  
&emsp;&emsp;&emsp;for each $w_i$:  
&emsp;&emsp;&emsp;&emsp;$w_i=w_i+lr*(f_i*label)$  
&emsp;&emsp;&emsp;$b=b+label$

In [16]:
#Randomize row data:
def shuffle(df):
    nShuffle = len(df)
    for t in range(nShuffle):
        ind1 = random.randint(0,len(df)-1)
        ind2 = random.randint(0,len(df)-1)
        a = df.iloc[ind1,:]
        df.iloc[ind1,:] = df.iloc[ind2,:]
        df.iloc[ind2,:] = a
    return df

In [17]:
def linear_classification(df,w = [],b = None,it = 20,lr = 0.01,show = True):
    MAX_ITER = it
    i = 0 # Loop times
    if b == None:
        b = 0 
    if len(w)==0:
        w = np.random.rand(len(df.columns)-1) #Initialize w as random matrix
    best_acc = 0
    while i<MAX_ITER:
        if show:
            print(f"Loop {i}",end = "\r")
        i += 1 # Loop times increment
        n = 0 # Negative case
        df_temp = shuffle(df)
        y = np.array(df_temp.iloc[:,-1])
        x = df_temp.iloc[:,:-1]
        for j in range(len(x)):
            pred = np.sum(np.multiply(w,x.loc[j,:]))+b
            if np.multiply(pred,y[j])<0:
                n +=1
                for k in range(len(w)):
                    w[k] = w[k] + lr*x.iloc[j,k]*y[j]
                b = b + y[j]
        acc = (len(x)-n)/len(x)
        if best_acc<acc:
            best_w = w
            best_b = b
            best_acc = acc
            best_correct = len(x)-n
        if n==0:
            break
    if show:
        print(f"Final accuracy = {(len(x)-n)/len(x)}")
        print(f"Best accuracy = {best_acc}")
        print(f"Best w = {best_w}")
        print(f"Best b = {best_b}")
    return best_acc,best_w,best_b,best_correct

In [ ]:
q2_best_acc = np.zeros((len(df)))
for i in range(len(df)):
    print(p_data[i])
    q2_best_acc[i],_,_,_ = linear_classification(df[i])

data/crx.csv
Final accuracy = 0.6508422664624809
Best accuracy = 0.664624808575804
Best w = [  1.51909328   2.9441181   -9.27060723   6.64271214   7.30366098
  -5.41134395   6.9882953  -32.58862301 -16.231892    -2.03237995
 -28.99214003  -1.00202073  -3.37305378  -0.39919776  -3.47900589]
Best b = 158.0
data/data.csv

# Q3
When the $J=WX+b$ could be represented as the matrix form for the linear classifier, please find the solution by solving this equation using least-squared manner. Also, please implement it and make a comparison between this method and the previous one implemented in 2.

To-do: Solve the partial derivative of W to find the solution of W  
$\hat{w} = (X^TX)^{-1}X^TY$

In [ ]:
def least_square_manner(df):
    X = np.array(df.iloc[:,:-1])
    Y = np.array(df.iloc[:,-1])
    w = np.matmul(np.matmul(np.matmul(np.transpose(X),X)**(-1),np.transpose(X)),Y)
    y = np.matmul(X,w)
    (unique, counts) = np.unique((Y*y)>0, return_counts=True)
    for i in range(len(unique)):
        if unique[i]==1:
            acc = counts[i]/len(y)
    print(f"accuracy = {acc}")
    print(f"w = {w}")
    return acc,w

In [ ]:
q3_best_acc = np.zeros((len(df)))
for i in range(len(df)):
    print(p_data[i])
    q3_best_acc[i],_ = least_square_manner(df[i])

In [ ]:
# Comparison
np.array(q2_best_acc-q3_best_acc)

# Q4
Please implement the voted perception and make the performance comparison between methods.

* Training  
    * every time a mistake is made on an example:  
        * store the weights (i.e. before changing for current example)  
        * store the number of examples that set of weights got correct  

* Classify  
    * calculate the prediction from ALL saved weights  
    * multiply each prediction by the number it got correct (i.e a weighted vote) and take the sum over all predictions
    * said another way: pick whichever prediction has the most votes

In [ ]:
# Training
#def voted_perceptron(df,iter = 20):
w_set = [] #collection of w
b_set = [] #collection of b
c_set = [] #collection of number of correct
_,w_last,b_last,c_last = linear_classification(df[0],it = 1,show = False)
w_set.append(w_last)
b_set.append(b_last)
c_set.append(c_last)
it = 30
for i in range(it-1):
    _,w_last,b_last,c_last = linear_classification(df[0],w = w_last,b = b_last ,it = 1,show = False)
    if len(np.unique(w_set[-1]-w_last==0)) == 1 and b_last==b_set[-1]: #Totally same
        print(w_set[-1]-w_last==0)
        break
    else:
        w_set.append(w_last)
        b_set.append(b_last)
        c_set.append(c_last)
#for i in range(iter):
#    _,w_last,b_last = linear_classification(df[i],w = w_set[-1],b = b_set[-1],iter = 1,show = False)

In [ ]:
# Classify
X = np.array(df[0].iloc[:,:-1])
Y = np.array(df[0].iloc[:,-1])
Pred = []
trim = 0.9
for i in range(int(len(w_set)*trim),len(w_set)):
    Pred.append(np.sum(np.multiply(np.array(w_set[i]),X),axis=1)+b_set[i])

pred = c_set[0]*Pred[0]/(len(Y)*len(Pred))
for p in range(1,len(Pred)):
    pred += c_set[p]*Pred[p]/(len(Y)*len(Pred))
(unique, counts) = np.unique((pred*Y)>0, return_counts=True) #Larger than zero, counting true

for i in range(len(unique)):
    if unique[i]==1:
        acc = counts[i]/len(Y)
print(f"accuracy = {acc}")